.letrerologin {
	/*background: url(../imagenes/fondo-letrero1.png) no-repeat;*/
	background-color: #337ab7;
	height: 32px;
	margin-bottom: 10px;
	font-size: 1.4em;
	line-height: 1em;
	color: #FFFFFF;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 10px;
	margin-top: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#loginhead {
	opacity: 0.90;
	background-color: #243a51;
	height: 75px;
	/*background: url(../imagenes/fondo-encabezado.png)  repeat-x;*/
}
#logotipos {
	/*background-color: #316BA2;*/
	background: url(../imagenes/oie_transparent.png) no-repeat right top;
}
.pie {
	color: #666666;
	border-top: 1px solid #316BA2;
	text-align: center;
	height: 15px;
	display: block;
	margin-right: 2%;
	margin-left: 2%;
	font-size: 0.6em;
	margin-top: 2px;
}

.img1 {padding-left: 20px;padding-top: 10px;}


